.anchor {
  font-size: 1.8rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: hsl(240 100% 75%);
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px;
}
.anchor {
  anchor-name: --my-anchor; /*You need to set an anchor name on it via the anchor-name property. The anchor name needs to be a <dashed-ident>*/
  width: fit-content;
}
.infobox {
  color: darkblue;
  background-color: azure;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}
.infobox {
  position: fixed;
  position-anchor: --my-anchor; /*The positioned element then has its position-anchor property set to the value of the anchor element's
                                     anchor-name property to associate the two together*/
}
